.legal {
    display: flex;
    justify-content: center;
    padding: 0px;
    background-color: #2d4059;
    color: #fff;
    }
  
.footer_links {
    display: flex;
    padding: 0px;
    background-color: #ebebeb;
    color: #2d4059;
}